h4{
color: red;
text-align: center;

}

 


h2{
    color:green;
}
.module02-01{
    background: aqua;
    margin: 50px;
    padding: 20px;
   border: 5px solid red;
   border-radius: 20px;
   text-align: center;
   width: 600px;
   height: 200px;
}
.module02-02{
    background: #e7e7a1;
    color: blue;
    margin: 0 auto;
    margin-right:0;
    padding: 20px;
   border: 5px solid red;
   border-radius: 20px;
   text-align: center;
   width: 600px;
   height: 200px;
   overflow: auto;
}
.module02-03{
    background: rgb(226, 218, 226);
    background: aqua;
    margin: 50px;
    padding: 20px;
   border: 5px solid red;
   border-radius: 20px;
   text-align: center;
   width: 400px;
   height: 200px;
   overflow: auto;
   background-image: url("img/saheb");
}
.module02-04{
    background: rgb(232, 232, 243);
}
.module02-07{
    background: rgb(208, 248, 168);
}
.module02-09{
    background: #a4b0be;
}